<div class="tbn">
	<h2 class="mt bbda">{lang prompt}</h2>
	<ul>
		<li $opactives['pm']><em class="notice_pm"></em><a href="home.php?mod=space&do=pm">{lang news} <!--{if $newpmcount}--><strong class="xi1">($newpmcount)</strong><!--{/if}--></a></li>
		<li $opactives['mypost']>
			<em class="notice_mypost"></em>
			<a href="home.php?mod=space&do=notice&view=mypost">我的帖子</a>
		</li>
		<li $opactives['system']>
			<em class="notice_system"></em>
			<a href="home.php?mod=space&do=notice&view=system">系统提醒</a>
		</li>
		
	</ul>
</div>